<div class="aside-detail">
    <h2>Other Books By <%= book.author %></h2>
    <div class="container-wrapper">
        <div class="books-container mb-5">
          <% otherBooks.forEach(user => { %>
            <div class="cards-container">
             <div class="wrapper">
               <a href="/detail/<%= user.id %>">
                <img src="<%= user.image %>" alt="<%= user.name %>"/>
               </a>
                <div class="details">
                  <h2><%= user.name %></h2>
                  <p><%= user.author %></p>
               </div>
              </div>
            </div>
            <% }) %>
          </div>
      </div>
</div>