<div class="aside-detail">
    <h2>Other Books By <%= book.author %></h2>
  <div class="carousel-container">
      <% otherBooks.forEach((e, i) => { %>
       <div class="cards" <%= i === 0 ? "active" : "" %>>
        <div class="cards-container">
          <div class="wrapper">
            <a href="/detail/<%= e.id %>">
              <img src="<%= e.image %>" alt="<%= e.name %>" />
            </a>
            <div class="details">
              <h6><%= e.name %></h6>
              <p><%= e.author %></p>
            </div>
          </div>
        </div>
       </div>
      
      <% }) %>
  </div>
</div>
